---
import FootnoteReference from "../components/FootnoteReference.astro"
import DefaultLayout from '../layouts/DefaultLayout.astro'
import MidwestMap from '../components/MidwestMap.astro'
import Benefits from '../components/Benefits.astro'
---

<DefaultLayout title="About">
  <div class="container">
    <div class="flex flex-col">
      <h3 id="why" class="mb-3" style="color: var(--action-color)">Why decriminalize nature? What does that mean?</h3>
      <div class="flex flex-col gap-3">
        <p>
          In recent years, a surge in the research of entheogens such
          as psilocybin has made it clear that they pose little risk of harm<FootnoteReference index={8} />.
          In fact, entheogens have been shown to improve mental health and help treat addiction<FootnoteReference index={1} /><FootnoteReference index={2} />.
        </p>
        <p>
          Unfortunately, despite the strong evidence of their benefits, Wisconsin considers it a crime
          to grow or possess entheogenic plants and fungi<FootnoteReference index={4} />. Decriminalize Nature Madison would like to see this change.
        </p>
        <p>
          We believe the City of Madison should decriminalize the use, possession,
          growth and gifting of entheogenic plants and fungi. This would eliminate the biggest risk they pose:
          criminal prosecution.
        </p>
        <p>
          Read more about the many reasons to decriminalize below!
        </p>
      </div>
      <Benefits />
    </div>
    <div class="flex flex-col">
      <h3 id="how" class="mb-3" style="color: var(--action-color)">How would decriminalization work? How do we get there?</h3>
      <div class="flex flex-col gap-3">
        <p>
          There are a few different ways decriminalization can happen. The main way we are advocating
          for is through the Common Council.
        </p>
        <p>
          While the Common Council can't override state law, it does decide the city budget.
          Through the budget, the Common Council can forbid city funds from being used towards investigating/enforcing
          entheogen-related violations. While entheogens would remain illegal, the city would not investigate or
          arrest anyone for breaking those laws. This would not include violations such as DUI, possession on school grounds,
          or commercial sales. You can view our <a href="/resolutions/wisconsin/madison.pdf">proposed resolution here</a>!
        </p>
        <p>
          In fact, Madison wouldn't be the first city to do this! Many cities across the country and the
          Midwest have decriminalized entheogenic plants and fungi in recent years.
        </p>
        <p>
          Check out the map below to see what our neighbor states have been up to. Each blue flower represents a decriminalized
          area, and each pink flower represents a notable legislative action. Click on each flower to see
          more information!
        </p>
      </div>

      <div class="map-container">
        <MidwestMap />
      </div>
    </div>
  </div>
</DefaultLayout>


