---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Footnote from '../components/Footnote.astro'
---
<DefaultLayout title="Citations">
  <div class="container">
    <h4 class="mb-3">Citations</h4>
    <ol id="footnotes" class="text-xs">
      <Footnote
        index={1}
        href="https://jamanetwork.com/journals/jama/fullarticle/2808950"
        citation="Raison CL, Sanacora G, Woolley J, et al. Single-Dose Psilocybin Treatment for Major Depressive Disorder: A Randomized Clinical Trial. JAMA. 2023;330(9):843–853. doi:10.1001/jama.2023.14530"
      />
      <Footnote
        index={2}
        href="https://pubmed.ncbi.nlm.nih.gov/34619818/"
        citation="Griffiths, Roland R et al. “Psilocybin produces substantial and sustained decreases in depression and anxiety in patients with life-threatening cancer: A randomized double-blind trial.” Journal of psychopharmacology (Oxford, England) vol. 30,12 (2016): 1181-1197. doi:10.1177/0269881116675513"
      />
      <Footnote
        index={3}
        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8542741/"
        citation="Bogenschutz, Michael P et al. “Percentage of Heavy Drinking Days Following Psilocybin-Assisted Psychotherapy vs Placebo in the Treatment of Adult Patients With Alcohol Use Disorder: A Randomized Clinical Trial.” JAMA psychiatry vol. 79,10 (2022): 953-962. doi:10.1001/jamapsychiatry.2022.2096"
      />
      <Footnote
        index={4}
        href="https://docs.google.com/spreadsheets/d/1yqqTTEAO4hdnxKM-GBU6Djz3KkvFSwGIZDgs3fNW7wk/edit?gid=0#gid=0"
        citation="“What Are the Current Criminal Penalties for Psychedelics?” Decriminalize Nature Madison."
      />
      <Footnote
        index={5}
        href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(02)08701-9/fulltext"
        citation="Bruhn JG, De Smet PA, El-Seedi HR, Beck O.. “Mescaline use for 5700 years”. Lancet. 2002;359(9320):1866."
      />
      <Footnote
        index={6}
        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8033766/"
        citation="Agin-Liebes, Gabrielle et al. “Naturalistic Use of Mescaline Is Associated with Self-Reported Psychiatric Improvements and Enduring Positive Life Changes.” ACS pharmacology & translational science vol. 4,2 543-552. 23 Mar. 2021, doi:10.1021/acsptsci.1c00018"
      />
      <Footnote
        index={7}
        href="https://www.psychiatrist.com/jcp/prevalence-national-burden-treatment-resistant-depression-major-depressive-disorder-in-us/"
        citation="Zhdanava, Maryia et al. “The Prevalence and National Burden of Treatment-Resistant Depression and Major Depressive Disorder in the United States.” The Journal of clinical psychiatry vol. 82,2 20m13699. 16 Mar. 2021, doi:10.4088/JCP.20m13699"
      />
      <Footnote
        index={8}
        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8905125/"
        citation="Schlag, Anne K et al. “Adverse effects of psychedelics: From anecdotes and misinformation to systematic science.” Journal of psychopharmacology (Oxford, England) vol. 36,3 (2022): 258-272. doi:10.1177/02698811211069100"
      />
      <Footnote
        index={9}
        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4286320/"
        citation="Johnson, Matthew W et al. “Pilot study of the 5-HT2AR agonist psilocybin in the treatment of tobacco addiction.” Journal of psychopharmacology (Oxford, England) vol. 28,11 (2014): 983-92. doi:10.1177/0269881114548296"
      />
      <Footnote
        index={10}
        href="https://news.wisc.edu/two-first-in-kind-clinical-trials-explore-psilocybin-for-substance-misuse/"
        citation="Gerhards, Katie. First-In-Kind Psychedelic Trials Treat Opioid and Methamphetamine Use Disorders. UW-Madison, 6 Jan. 2023."
      />
      <Footnote
        index={11}
        href="https://www.cityofmadison.com/finance/documents/budget/2025/CommunityBudgetConversations.pdf"
        citation="2025 Budget Outlook Common Council Community Budget Conversations. City of Madison, 2024."
      />
      <Footnote
        index={12}
        href="https://akjournals.com/view/journals/2054/4/3/article-p163.xml"
        citation="Blatchforde, E., Bright, S., and Engel, L. (2021). Tripping over the other: could psychedelics increase empathy? J. Psychedelic Stud. 4, 163–170. doi: 10.1556/2054.2020.00136"
      />
      <Footnote
        index={13}
        href="https://promega.widencollective.com/portals/p7bigueo/ConsciousnessForum/playlist/e0ba027c-120f-438f-915c-6b55e702c65a/yeq3czdkhp/2024-Consciousness-Forum_Day-2_Adele-Lafrance.mp4"
        citation="Lafrance, Adele. The Love Project: Preliminary Outcomes of a Survey Study among Psychedelic Users. 17 May 2024."
      />
      <Footnote
        index={14}
        href="https://www.science.org/doi/10.1126/science.adf0435"
        citation="Maxemiliano V. Vargas et al. ,Psychedelics promote neuroplasticity through the activation of intracellular 5-HT2A receptors.Science379,700-706(2023).DOI:10.1126/science.adf0435"
      />
      <Footnote
        index={15}
        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8351556/"
        citation="Banks, Matthew I et al. “Catalysts for change: the cellular neurobiology of psychedelics.” Molecular biology of the cell vol. 32,12 (2021): 1135-1144. doi:10.1091/mbc.E20-05-0340"
      />
      <Footnote
        index={16}
        href="https://www.nature.com/articles/s41386-022-01361-x"
        citation="Knudsen, Gitte M. ‘Sustained Effects of Single Doses of Classical Psychedelics in Humans’. Neuropsychopharmacology, vol. 48, no. 1, Jan. 2023, pp. 145–150, https://doi.org10.1038/s41386-022-01361-x."
      />
      <Footnote
        index={17}
        href="https://mhanational.org/mentalhealthfacts"
        citation="Mental Health America. “Quick Facts and Statistics about Mental Health.” Mental Health America, 2022."
      />
    </ol>
  </div>
</DefaultLayout>
