---
import SidebarLayout from '../layouts/SidebarLayout.astro'
import contactImage from '../assets/img/coffee-plant.jpg'
---
<SidebarLayout
        title="Contact"
        image={contactImage}
        alt="A Coffea plant with green leaves and a few clumps of red berries"
        heading="Contact"
        description="Fill out the form and we will get back to you as soon as possible!"
        class="w-full"
>
    <form id="contact-form" action="https://forms.decriminalizenaturemadison.org:8443/form-submission">
        <input type="hidden" name="form" value="Contact Form">
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" class="block w-full" required="required"></input>
        <label for="message">Message:</label>
        <textarea id="message" name="message" class="h-28 bg w-full" required="required"></textarea>
        <label for="challenge">Anti-spam: What is 2 + 2?</label>
        <input id="challenge" name="challenge" type="text" class="block w-full" required="required"></input>
        <button type="submit" class="outline-emerald-900 bg-emerald-700 text-gray-100 h-12 w-24 my-1">Send</button>
    </form>
    <p class="form-status"></p>

    <script>
        (async function() {
            document.addEventListener("astro:page-load", async () => {
                const contactForm: HTMLFormElement = document.getElementById("contact-form") as HTMLFormElement;
                // TODO: fix the need for this
                if (contactForm == null) {
                    return;
                }
                const statusElement = document.querySelector(".form-status");
                const submitButton = contactForm.querySelector("button[type='submit']");
                contactForm.addEventListener("submit", async event => {
                    if (!contactForm.reportValidity()) {
                        return;
                    }
                    event.preventDefault();
                    const formContent = new FormData(contactForm);
                    const requestOptions = {
                        method: "POST",
                        body: formContent,
                    };
                    const requestTarget = contactForm.getAttribute("action");
                    statusElement.textContent = "Sending...";
                    submitButton.setAttribute("disabled", "disabled");
                    // noinspection TypeScriptValidateTypes
                    const formResponse = await fetch(requestTarget, requestOptions);
                    if (formResponse.status === 200) {
                        statusElement.textContent = "Successfully sent! Thanks for reaching out.";
                        contactForm.reset();
                    } else {
                        statusElement.textContent = await formResponse.text();
                    }
                    submitButton.removeAttribute("disabled");
                });
            });
        })();
    </script>
</SidebarLayout>

