---
import SidebarLayout from '../layouts/SidebarLayout.astro'
import { Image } from "astro:assets"
import mushroomsImage from "../assets/img/mushrooms.jpg"
---
<SidebarLayout
  title="Get Involved"
  image={mushroomsImage}
  alt="Three P.pelliculosa fruiting bodies in their natural habitat: A forest floor covered with wood chips"
  heading="Get involved"
>
  <h5 class="heading">Live in the City of Madison?</h5>
  <p class="instructions">
    The easiest way to help is to contact your local district Alder and the Mayor to let them know this is an issue
    you care about. To contact your Alder, click the 'Find My Alder' button below.
    <span class="unknown-district-instructions">Once on your Alder's page, click the 'Contact Alder' link under the 'Contact Information' section.</span>
    To contact the Mayor, click the 'Contact The Mayor' button below.
  </p>
  <p>
    If you'd like to use it, we have put together a message template below.
    We encourage you to customize it to best represent you!
  </p>
  <div class="flex flex-row gap-2 flex-wrap">
    <button class="copy-template outline-emerald-900 bg-emerald-700 text-gray-100 h-12 w-36">Copy template</button>
    <form class="find-my-alder-form" action="https://www.cityofmadison.com/council/councilmembers/findalderbyaddress.cfm">
      <button type="submit" class="find-my-alder-button outline-emerald-900 bg-emerald-700 text-gray-100 h-12 w-36">Find My Alder</button>
    </form>
    <form action="https://www.cityofmadison.com/mayor/contact">
      <button type="submit" class="outline-emerald-900 bg-emerald-700 text-gray-100 h-12 w-40">Contact The Mayor</button>
    </form>
  </div>
  <div class="template border-black border-2 p-2">
    <p>
      Hello
    </p>
    <p>
      I'm reaching out because I would like to see the City of Madison decriminalize entheogenic plants and fungi.
    </p>
    <p>
      Modern research has shown that entheogens (such as psilocybin) are safe and non-addictive. In fact, studies have found that entheogens can help treat mental health issues, like treatment-resistant depression and addiction. They have also been found to promote empathy and kickstart positive life changes. Despite this, Wisconsin considers most violations of entheogen law to be felonies!
    </p>
    <p>
      Madison residents shouldn't have to live in fear of a felony for using a promising medicine. Madison wouldn't be the first city to decriminalize entheogenic plants and fungi, either. Minneapolis, Detroit and Ann Arbor have all decriminalized recently.
    </p>
    <p>
      I encourage you to support the local movement to decriminalize entheogens, Decriminalize Nature Madison. You can visit their website at <a href="https://dnmadison.org">https://dnmadison.org</a> for more information on entheogens and their benefits. You can also email them at <a href="mailto:contact@dnmadison.org">contact@dnmadison.org</a>.
    </p>
    <p>
      Thank you for your consideration
    </p>
  </div>

  <h5 class="heading">Live in Dane County?</h5>
  <p>
    We would suggest contacting the <a href="https://da.danecounty.gov/About/Contact">Dane County District Attorney's Office</a>.
    The District Attorney is the chief prosecutor for Dane County, and can exercise discretion in which cases they prosecute.
    You can reach them by phone at <a href="tel:6082664211">(608) 266-4211</a> or email at <a href="mailto:danecoda@da.wi.gov">danecoda@da.wi.gov</a>.
  </p>

  <h5 class="heading">Want to attend our events?</h5>
  <p>
    If you'd like to get involved in our outreach and events, check out the
    <a href="https://www.meetup.com/madison-psychedelic-society/">Madison Psychedelic Society events page</a>!
    There you will find Decriminalize Nature Madison events as well as events from the wider psychedelic society.
  </p>
  <h5 class="heading">Want to get involved in a different way?</h5>
  <p>
    If you would like to get involved in a different way, please reach out to
    us through <a href="/contact">our contact form</a>. We would love to work with you!
  </p>

  <style>
      .template p:first-of-type {
          padding-top: 0;
      }
      .template p {
          padding-top: 0.75rem;
      }
  </style>

  <script>

    document.addEventListener("astro:page-load", () => {
      const instructionsElement = document.querySelector(".instructions");
      if (instructionsElement != null) {
        const queryParams = new URLSearchParams(window.location.search);
        let districtInput = queryParams.get("district");
        if (districtInput == null) {
          districtInput = window.sessionStorage.getItem("districtInput");
          if (districtInput == null) {
            return;
          }
        }
        window.sessionStorage.setItem("districtInput", districtInput);
        const districtNumber = parseInt(districtInput);
        if (districtNumber >= 1 && districtNumber <= 20) {
          document.querySelector(".unknown-district-instructions").remove();
          const newButtonText = "Contact My Alder";
          instructionsElement.textContent = instructionsElement.textContent.replace("Find My Alder", newButtonText);
          document.querySelector(".find-my-alder-button").textContent = newButtonText;
          const findMyAlderForm = document.querySelector(".find-my-alder-form");
          findMyAlderForm.setAttribute("action", "https://www.cityofmadison.com/council/contact");
          const districtInputElement = document.createElement("input");
          districtInputElement.setAttribute("type", "hidden");
          districtInputElement.setAttribute("name", "districtNumber");
          districtInputElement.setAttribute("value", `${districtNumber}`);
          findMyAlderForm.insertAdjacentElement("afterbegin", districtInputElement);
        }
      }
      const copyTemplateButton = document.querySelector(".copy-template");
      if (copyTemplateButton != null) {
        const templateContainer = document.querySelector(".template");
        let templateText = "";
        for (const childElement of templateContainer.children) {
          templateText += childElement.textContent.trim();
          templateText += "\n\n";
        }
        templateText = templateText.substring(0, templateText.length - 2);
        copyTemplateButton.addEventListener("click", () => {
          navigator.clipboard.writeText(templateText);
          copyTemplateButton.textContent = "Copied!";
        });
      }
    });
  </script>

</SidebarLayout>
