---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import logoFilled from '../assets/img/logo-filled.svg';
import {Image} from "astro:assets";
---

<DefaultLayout title="Home" showNavigationImage={false}>
  <section class="my-24">
    <div class="container">
      <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
        <Image src={logoFilled} alt="The Decriminalize Nature Madison logo" loading="eager" />
        <div class="flex flex-col items-center gap-8 md:items-start">
          <h1 class="text-3xl md:text-right lg:text-5xl">
            Hello there!
          </h1>
          <p>Decriminalize Nature Madison is a grassroots movement advocating for the safe and responsible decriminalization of entheogenic plants and fungi in the City of Madison, WI.</p>
          <a class="has-icon color-secondary !no-underline hover:!underline" href="/why">
            Read More →
          </a>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  h1 {
    color: var(--action-color);
  }
</style>
