---
const currentYear = new Date().getFullYear();
import mpsLogo from "../assets/img/mps-logo.png";
import {Image} from "astro:assets";
---

<footer>
  <section class="py-8">
    <div class="container flex justify-between items-center flex-wrap gap-4 max-sm:flex-col">
      <div>
        <span class="block max-sm:text-center font-bold">A part of the</span>
        <a href="https://www.meetup.com/madison-psychedelic-society/" target="_blank">
          <Image loading="eager" src={mpsLogo} alt="The Madison Psychedelic Society logo: A blue eyeball with the state capital building in it's pupil." class="max-w-48"/>
        </a>
      </div>
      <div class="max-sm:text-center">
        <p>
          &copy; {currentYear} Decriminalize Nature Madison
        </p>
        <a href="/licenses">Licenses</a>
      </div>
    </div>
  </section>
</footer>

