---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container grid-cols-2">
      <p>
        &copy; {currentYear} Decriminalize Nature Madison
      </p>
      <a href="/licenses">Licenses</a>
    </div>
  </section>
</footer>
