---
import Navigation from '../components/Navigation.astro'
import NavigationItem from "./NavigationItem.astro";
import { SkipLinks }  from "accessible-astro-components"
const { showNavigationImage = true } = Astro.props;
---

<header>
  <SkipLinks />
  <Navigation showImage={showNavigationImage} >
    <NavigationItem>
      <a href="/">Home</a>
    </NavigationItem>
    <NavigationItem>
      <a href="/why/">Why</a>
    </NavigationItem>
    <NavigationItem>
      <a href="/about">About</a>
    </NavigationItem>
    <NavigationItem>
      <a href="/resources">Resources</a>
    </NavigationItem>
    <NavigationItem>
      <a href="/blog/">Blog</a>
    </NavigationItem>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
